body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.transportationAttr {
  background-color: aquamarine;
  width: 120px;
  }

/* Style for form container */
#TransportationForm {
  width: 50%; /* Adjust width as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for form inputs and labels */
.form-group {
  margin-bottom: 15px;
}

label.transportationAttr {
  display: block;
  font-weight: bold;
}

input[type='text'],
input[type='number'],
input[type='submit'] {
  width: calc(100% - 20px); /* Adjust width as needed */
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type='submit'] {
  background-color: #4CAF50; /* Green submit button */
  color: white;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

/* Additional styles or modifications can be added based on your design preferences */
